/* BODY JA SKROLLATTAVA BG */

body {
  background-image: url("background4.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
}

/* HEADER */

header {
  text-align: center;
  padding-top: 9%;
  padding-bottom: 10%;
  font-size: 60px;
  color: black;
  -webkit-text-fill-color: #f15354;
  -webkit-text-stroke-width: 2.1px;
  -webkit-text-stroke-color: black;
}

/* NAVIKKO PASKAA */

.topnav {
  background-color: #292929;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999 !important;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #cecece;
  color: black;
  transition: 0.3s;
  border-radius: 1px;
}

.topnav a.active {
  background-color: #f15354;
  color: #101010;
  font-weight: 450;
  border-radius: 1px;
}

/* SISÄLTÖÄ */

.col-sm-4 {
  border-radius: 25px;
  padding-top: 50px;
  background-color: rgba(25, 25, 25, 0.90);
  color: white;
  width: 420px;
  height: 280px;
  padding-bottom: 5%;
}

.col-sm-6 {
  border-radius: 25px;
  padding-top: 50px;
  background-color: rgba(25, 25, 25, 0.90);
  color: white;
  width: 420px;
  height: 300px;
  padding-bottom: 5%;
  font-size: 17px;
}

.paskaa1 {
  font-size: 17px;
}

.paskaa2 {
  padding-left: 800px;
  padding-top: 5%;
}

.col-sm-2 {
  border-radius: 25px;
  padding-top: 50px;
  background-color: rgba(25, 25, 25, 0.90);
  color: white;
  width: 420px;
  height: 300px;
  padding-bottom: 5%;
  font-size: 17px;
}

.paskaa3 {
  padding-top: 5%;
  padding-left: 250px;
  padding-bottom: 5%;
}

/* STATUES */

.statue1 {
  border-radius: 25px;
}

.statues {
  padding-bottom: 10%;
  padding-left: 400px;
}

.teksti {
  padding-left: 10px;
  padding-top: 7px;
  font-size: 32px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
  text-shadow: 1.3px 1.3px black;
}
/* FOOTER */

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2px;
  height: 28px;
  background-color: #171616;
}
.footer p {
  color: #f15354;
}

/* TOP */

#top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 99;
  border: none;
  background-color: transparent;
  color: #101010;
  cursor: pointer;
  font-size: 18px;
  font-weight: 450;

}

#top:hover {
  background-color: rgba(25, 25, 25, 0.90);
  transition: 0.1s;
  border-radius: 50px;
}
