/* BODY JA SKROLLATTAVA BG */

body {
  background-image: url("background2.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
}

/* HEADER */

header {
  text-align: center;
  padding-top: 9%;
  padding-bottom: 10%;
  font-size: 60px;
  color: black;
  -webkit-text-fill-color: #f15354;
  -webkit-text-stroke-width: 2.1px;
  -webkit-text-stroke-color: black;
}

/* NAVIKKO PASKAA */

.topnav {
  background-color: #292929;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999 !important;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #cecece;
  color: black;
  transition: 0.3s;
  border-radius: 1px;
}

.topnav a.active {
  background-color: #f15354;
  color: #101010;
  font-weight: 450;
  border-radius: 1px;
}

/* SISÄLTÖÄ */

.col-sm-4 {
  margin:;
  border-radius: 25px;
  padding-top: 50px;
  background-color: rgba(25, 25, 25, 0.90);
  color: white;
  width: 600px;
  height: 310px;
}

.wojtek5 {
  border-radius: 25px;
}

.col-sm-6 {
  padding-left: 500px;
  padding-top: 350px;
  padding-bottom: 600px;
}

.toinen {
  padding-top: 150px;
  padding-left: 800px;
  width: 1200px;
}

.kolmas {
  padding-top: 150px;
  padding-bottom: 150px;
}
/* FOOTER */

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2px;
  height: 28px;
  background-color: #171616;
}
.footer p {
  color: #f15354;
}
