body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
}
.topnav {
  background-color: #292929;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #cecece;
  color: black;
  transition: 0.2s;
}

.topnav a.active {
  background-color: #f15354;
  color: #101010;
  font-weight: 450;
}

header {
  text-align: center;
  padding: 3%;
  font-size: 90px;
  color: black;
  -webkit-text-fill-color: #f15354; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2px;
  height: 28px;
  background-color: #171616;
}
.footer p {
  color: #f15354;
}

.row {
  position: relative;
  text-align: left;
  padding-top: 3%;
  padding-left: 10%;
  margin: auto;
}

.container {
  padding: 3%;
}
.col-sm-4 {
  border-radius: 25px;
 padding: px;
  background-color: #292929;
  color: #f15354;
}

.col-sm-8 {
  padding-left: 300px;
}
