/* BODY JA SKROLLATTAVA BG */

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
}
/* NAVIKKO PASKAA */

.topnav {
  background-color: #292929;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999 !important;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #cecece;
  color: black;
  transition: 0.3s;
  border-radius: 1px;
}

.topnav a.active {
  background-color: #f15354;
  color: #101010;
  font-weight: 450;
  border-radius: 1px;
}

/* HEADER */

header {
  text-align: center;
  padding-top: 6.7%;
  padding-bottom: 2%;
  font-size: 90px;
  color: black;
  -webkit-text-fill-color: #f15354;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
}

/* FOOTER */

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2px;
  height: 28px;
  background-color: #171616;
}
.footer p {
  color: #f15354;
}

/* KAKS EKAA PASKAA */

.row {
  position: relative;
  text-align: center;
  padding-top: 3%;
  padding-left: 10%;
  margin: auto;
}

.container {
  padding: 3%;
}

.col-sm-4 {
  border-radius: 25px;
  padding-top: 50px;
  background-color: rgba(25, 25, 25, 0.92);
  color: white;
  width: 310px;
  height: 420px;
}

.col-sm-8 {
  padding-left: 150px;
}

.wojtek1 {
  border-radius: 25px;
}

/* TOKAT PASKAT */

.wojtek2 {
  border-radius: 25px;
}

.col-sm-2 {
  padding-right: 543px;
  margin-left: -13px;
  padding-bottom: 15%;
}
